body, html {
  background-color: lightgrey;
  height: 100%;
}

.nav {
  background-color: black;
  position: fixed;
  width: 100%;
  height: 30px;
  padding: 15px;
  margin: -10px;
  z-index: 1000;
}

.nav-button {
  background-color: black;
  position: 0 auto;
  width: 24%;
  color: white;
  border: none;
}

.window-frame {
  background-color: white;
  width: 960px;
  height: 100%;
  margin: 0 auto;
}

.tree-frame {
  position: relative;
  height: 500px;
}

.text {
  position: absolute;
  top: 140px;
  left: 11%;
  margin: 10px;
  width: 125px;
  z-index: 3
}

.tree {
  position: absolute;
  top: 50px;
  right: -5px;
  width: 75%;
  z-index: 2;
}

.roots {
  position: absolute;
  top: 475px;
  right: 0px;
  width: 20%;
  z-index: 20;
}

.roots-blob {
  position: absolute;
  top: 620px;
  right: -10px;
  width: 15%;
  z-index: 20;
}

.dashed-lines {
  position: absolute;
  top: 50px;
  right: 61%;
  width: 30%;
  z-index: 1;
}

.grey-blob {
  position: absolute;
  width: 20%;
  zoom: .25;
  z-index: 0;
  top: -100px;
  left: 0px;
}

.leaves {
  position: absolute;
  width: 10%;
  top: 150px;
  right: 54%;
}

.apple,.apple-blob {
  position: absolute;
  zoom: .5;
  top: 350px;
  right: 57%;
  z-index: 15;
}

.apple-line {
  position: absolute;
  zoom: .5;
  top: 400px;
  right: 53%;
  z-index: 15;
}

.apple-after {
  position: absolute;
  top: 650px;
  right: 50%;
  z-index: 15;
}

.portfolio-options {
  position: relative;
  height: 206px;
  float: left;
  width: 90%;
  z-index: 14;
}

.portfolio-blob {
  position: absolute;
  width: 100%;
}

.paper,.code {
  position: relative;
  width: 30%;
  margin: 25px;
  margin-left: 100px;
}

.portfolio {
  background-color: grey;
  position: relative;
  height: 300px;
  top: 180px;
  z-index: 0;
}

.print, .web {
  display: none;
}


