body, html {
  background-color: lightgrey;
  height: 100%;
}

.nav {
  background-color: black;
  position: fixed;
  width: 100%;
  height: 30px;
  padding: 15px;
  margin: -10px;
  z-index: 1000;
}

.nav-button {
  background-color: black;
  position: 0 auto;
  width: 24%;
  color: white;
  border: none;
}

.show-all {
  position: relative;
  float:right;
  margin:50px;
  z-index: 100;
}

.window-frame {
  background-color: white;
  width: 960px;
  height: 200%;
  margin: 0 auto;
}

.tree-frame {
  position: relative;
  height: 500px;
}

.text {
  position: absolute;
  top: 140px;
  left: 11%;
  margin: 10px;
  width: 125px;
  z-index: 3;
  display:none;
}

.tree {
  position: absolute;
  top: 50px;
  right: -5px;
  width: 75%;
  z-index: 2;
}

.roots {
  position: absolute;
  top: 475px;
  right: 0px;
  width: 20%;
  z-index: 20;
}

.roots-blob {
  position: absolute;
  top: 645px;
  right: 0px;
  width: 15%;
  z-index: 20;
  display: none;
}

.dashed-lines {
  position: absolute;
  top: 50px;
  right: 70%;
  width: 30%;
  z-index: 1;
}

.grey-blob {
  position: absolute;
  width: 20%;
  zoom: .25;
  z-index: 0;
  top: -100px;
  left: 0px;
  display: none;
}

.leaves {
  position: absolute;
  width: 10%;
  top: 150px;
  right: 54%;
  display: none;
}

.leaves-after {
  position: absolute;
  width: 10%;
  top: 680px;
  right: 50%;
  z-index: 100;
}

.apple,.apple-blob {
  position: absolute;
  top: 120px;
  zoom: 1.3;
  right: 57%;
  z-index: 15;
}

.apple-blob {
  zoom: .6;
  top: 260px;
  display: none;
}

.apple-line {
  position: absolute;
  zoom: .5;
  top: 400px;
  right: 53%;
  z-index: 15;
  visibility: hidden;
}

.apple-after {
  position: absolute;
  top: 670px;
  right: 52%;
  /*visibility: hidden;*/
  z-index: 101;
}

.apple-blob-after {
  position: absolute;
  zoom: .7;
  top: 930px;
  right: 51%;
  z-index: 100;
}

.dotted-line {
  position: relative;
  top: 365px;
  width: 90%;
}

.portfolio-options {
  position: relative;
  height: 206px;
  float: left;
  width: 90%;
  z-index: 14;
}
.text-portfolio {
  position: relative;
  display: inline-block;
  top: -40px;
  left: 60px;
  height: 25px;
  z-index: 20;
  zoom: .5;
  margin: 20px;
  display: none;
}
.portfolio-blob {
  position: relative;
  top: -215px;
  width: 100%;
  display: inherit;
  display: none;
}

.paper,.code {
  position: relative;
  float: left;
  width: 30%;
  padding: 25px;
  margin-left: 100px;
  z-index: 10;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  display: none;
}

.paper {
  margin-top: 40px;
}

.code {
  margin-top: 10px;
}

.portfolio {
  background-color: grey;
  position: relative;
  height: 250px;
  top: 165px;
  z-index: 0;
}

.print, .web {
  display: none;
}

.print {
  background-color: #C39873;
  border-top: 50px solid black;
}

.web {
  background-color: black;
  border-top: 50px solid limegreen;
}

.open {
  border: 2px dotted black;
}

.portrait {
  position: relative;
  float: left;
  top: -185px;
  margin: 15px;
  width: 250px;
  height: 250px;
  border-radius: 125px;
  overflow: hidden;
}

.portrait img {
  width: 100%;
}

.instagram {
  float: right;
  height: 100px;
  width: 100px;
  margin-top: -15px;
}

.instagram img {
  width: 100%;
}

.line-it-up {
  height: 90%;
  background-color: grey;
  width: 500px;
}

.liup-home, .liup-search {
  position: relative;
  float: left;
  top: -80px;
  margin: 5px;
  height: 90%;
}
